<h1>Articles Tagged with <%= @tag.name %> </h1>
<ul>

  <% @tag.articles.each do |article| %>
  <li>
    Article: <%= link_to article.title, article_path(article) %>
  </li>
  <% end %>

</ul>
<h2>
  <%= link_to "All tags", tags_path %>
</h2>
